In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import randint

In [7]:
url="https://raw.githubusercontent.com/digipodium/Datasets/main/sample_data.csv"
df=pd.read_csv(url)
df.head()

   country    salary   age happy
0  germany   49000.0  35.0   yes
1    spain   10000.0   NaN    no
2    italy  230000.0  39.0    no
3    spain  200000.0  30.0   yes
4    italy       NaN  30.0   yes

In [8]:
#df.drop(columns=["country"],inplace=True)
df["A"]=[a for a in range(11)]

In [9]:
df

    country    salary   age happy   A
0   germany   49000.0  35.0   yes   0
1     spain   10000.0   NaN    no   1
2     italy  230000.0  39.0    no   2
3     spain  200000.0  30.0   yes   3
4     italy       NaN  30.0   yes   4
5     spain   31000.0  23.0    no   5
6   germany       NaN  34.0   yes   6
7     spain  400000.0   NaN   yes   7
8     italy  200000.0  29.0    no   8
9     italy  340000.0  35.0   yes   9
10  germany   30000.0  25.0   yes  10

In [10]:
df["up_sal"]=df.salary.apply(lambda v: v//100)
df

    country    salary   age happy   A  up_sal
0   germany   49000.0  35.0   yes   0   490.0
1     spain   10000.0   NaN    no   1   100.0
2     italy  230000.0  39.0    no   2  2300.0
3     spain  200000.0  30.0   yes   3  2000.0
4     italy       NaN  30.0   yes   4     NaN
5     spain   31000.0  23.0    no   5   310.0
6   germany       NaN  34.0   yes   6     NaN
7     spain  400000.0   NaN   yes   7  4000.0
8     italy  200000.0  29.0    no   8  2000.0
9     italy  340000.0  35.0   yes   9  3400.0
10  germany   30000.0  25.0   yes  10   300.0

In [11]:
from sklearn.impute import SimpleImputer
SI=SimpleImputer()
df.columns

Index(['country', 'salary', 'age', 'happy', 'A', 'up_sal'], dtype='object')

In [12]:
print(df)
col=["salary","age","up_sal"]
df[col]=SI.fit_transform(df[col])
df

    country    salary   age happy   A  up_sal
0   germany   49000.0  35.0   yes   0   490.0
1     spain   10000.0   NaN    no   1   100.0
2     italy  230000.0  39.0    no   2  2300.0
3     spain  200000.0  30.0   yes   3  2000.0
4     italy       NaN  30.0   yes   4     NaN
5     spain   31000.0  23.0    no   5   310.0
6   germany       NaN  34.0   yes   6     NaN
7     spain  400000.0   NaN   yes   7  4000.0
8     italy  200000.0  29.0    no   8  2000.0
9     italy  340000.0  35.0   yes   9  3400.0
10  germany   30000.0  25.0   yes  10   300.0

    country         salary        age happy   A       up_sal
0   germany   49000.000000  35.000000   yes   0   490.000000
1     spain   10000.000000  31.111111    no   1   100.000000
2     italy  230000.000000  39.000000    no   2  2300.000000
3     spain  200000.000000  30.000000   yes   3  2000.000000
4     italy  165555.555556  30.000000   yes   4  1655.555556
5     spain   31000.000000  23.000000    no   5   310.000000
6   germany  165555.555556  34.000000   yes   6  1655.555556
7     spain  400000.000000  31.111111   yes   7  4000.000000
8     italy  200000.000000  29.000000    no   8  2000.000000
9     italy  340000.000000  35.000000   yes   9  3400.000000
10  germany   30000.000000  25.000000   yes  10   300.000000

<h1>Automobile dataset</h1>

<h3> Replace value by particular value</h3>

In [24]:
url="https://raw.githubusercontent.com/digipodium/Datasets/main/regression/automobile.csv"
df=pd.read_csv(url,index_col=0)
NUM=['normalized-losses','wheel-base','length','width','height','curb-weight','engine-size','bore','stroke',  'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg','highway-mpg', 'price']
CAT=['symboling','make' , 'fuel-type', 'aspiration','num-of-doors', 'body-style', 'drive-wheels', 'engine-location','wheel-base', 'engine-type','num-of-cylinders', 'engine-size', 'fuel-system']
df.replace("?",np.nan,inplace=True)
df[NUM].isnull().sum()
df[CAT].isnull().sum()

num_col=['normalized-losses',"bore ","stroke ","price","horsepower","peak-rpm"]
cat_col=["num-of-doors"]

In [29]:
from sklearn.impute import SimpleImputer
s1=SimpleImputer()
s2=SimpleImputer(strategy="most_frequent")
df[NUM]=s1.fit_transform(df[NUM])
df[CAT]=s2.fit_transform(df[CAT])
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173.0,mpfi,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145.0,idi,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0

<h2>LABEL ENCODING</H2>

In [52]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder
df[CAT].nunique()
l=LabelEncoder()
df["fuel-type"]=l.fit_transform(df["fuel-type"])
df["fuel-type"]
l2=LabelEncoder()
df["aspiration"]=l2.fit_transform(df["aspiration"])
df["aspiration"] 


o1=OrdinalEncoder()
cat=['symboling','make' , 'fuel-type', 'aspiration','num-of-doors', 'body-style', 'drive-wheels']
df[cat]=o1.fit_transform(df[cat])
df[cat] 

ohe=OneHotEncoder(drop='first')

make=ohe.fit_transform(df[["make"]]).toarray()

df=pd.concat([df,pd.DataFrame(make)],axis=1)


df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,11,12,13,14,15,16,17,18,19,20
103,2.0,108.0,12.0,1.0,0.0,0.0,3.0,1.0,0.0,31.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,3.0,107.0,5.0,1.0,0.0,1.0,3.0,1.0,0.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
88,1.0,137.0,11.0,1.0,0.0,0.0,3.0,1.0,0.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,3.0,125.0,11.0,1.0,0.0,0.0,3.0,1.0,0.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80,5.0,153.0,11.0,1.0,1.0,1.0,2.0,1.0,0.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
)

In [53]:
df.columns

Index([        'symboling', 'normalized-losses',              'make',
               'fuel-type',        'aspiration',      'num-of-doors',
              'body-style',      'drive-wheels',   'engine-location',
              'wheel-base',            'length',             'width',
                  'height',       'curb-weight',       'engine-type',
        'num-of-cylinders',       'engine-size',       'fuel-system',
                    'bore',            'stroke', 'compression-ratio',
              'horsepower',          'peak-rpm',          'city-mpg',
             'highway-mpg',             'price',                   0,
                         1,                   2,                   3,
                         4,                   5,                   6,
                         7,                   8,                   9,
                        10,                  11,                  12,
                        13,                  14,                  15,
                        16,                  17,                  18,
                        19,                  20,                   0,
                         1,                   2,                   3,
                         4,                   5,                   6,
                         7,                   8,                   9,
                        10,                  11,                  12,
                        13,                  14,                  15,
                        16,                  17,                  18,
                        19,                  20],
      dtype='object')

In [56]:
make=ohe.fit_transform(df[["curb-weight"]]).toarray()
make
df=pd.concat([df,pd.DataFrame(make)],axis=1)


df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,160,161,162,163,164,165,166,167,168,169
57,5.0,150.0,8.0,1.0,0.0,1.0,2.0,2.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,2.0,128.0,12.0,1.0,0.0,0.0,3.0,1.0,0.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165,3.0,168.0,19.0,1.0,0.0,1.0,3.0,2.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1.0,110.0,4.0,1.0,0.0,0.0,4.0,1.0,0.0,37.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,0.0,103.0,21.0,1.0,0.0,0.0,3.0,2.0,0.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
url="https://raw.githubusercontent.com/digipodium/Datasets/main/regression/automobile.csv"
df=pd.read_csv(url,index_col=0)#,usecols=[1,2,3,4,5])

# replace all "?" to nan 
df.replace(to_replace="?",value=np.nan)

#fill "?" with specific value
df["normalized-losses"].replace(to_replace="?",value=randint(100,400),inplace=True)

df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

</h3> Convert data type from one type to another</h3>

In [3]:
# convert "normalized-losses" to int 
A={"normalized-losses":int}
df.astype(A)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 3 to -1
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  205 non-null    object
 1   make               205 non-null    object
 2   fuel-type          205 non-null    object
 3   aspiration         205 non-null    object
dtypes: object(4)
memory usage: 8.0+ KB

<h3>rename column</h3>

In [5]:
#rename column 1-way
df=df.rename(columns={"normalized-losses":"losses"})

# second way
df["nor_losses"]=df["losses"]
df.drop(columns=["losses"])
A={"nor_losses":int}
df=df.astype(A)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 3 to -1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   losses      205 non-null    object
 1   make        205 non-null    object
 2   fuel-type   205 non-null    object
 3   aspiration  205 non-null    object
 4   nor_losses  205 non-null    int32
dtypes: int32(1), object(4)
memory usage: 8.8+ KB

<h2>data visualization</h2>

In [55]:
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:


import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day29-sklearn-pipelines/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)
# Step 1 -> train/test/split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),
                                                 df['Survived'],
                                                 test_size=0.2,
                                                random_state=42)
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

In [7]:
# Applying imputation

si_age = SimpleImputer()
si_embarked = SimpleImputer(strategy='most_frequent')

X_train_age = si_age.fit_transform(X_train[['Age']])
X_train_embarked = si_embarked.fit_transform(X_train[['Embarked']])

X_test_age = si_age.transform(X_test[['Age']])
X_test_embarked = si_embarked.transform(X_test[['Embarked']])

In [8]:
X_train_embarked

array([['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['Q'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['C'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['S'],
       ['C'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['Q'],
       ['Q'],
       ['C'],
       ['Q'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['Q'],
       ['Q'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['Q'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['C'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['Q'],
       ['Q'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['C'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S'],
       ['S']], dtype=object)

In [9]:
# one hot encoding Sex and Embarked

ohe_sex = OneHotEncoder(sparse=False,handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse=False,handle_unknown='ignore')

X_train_sex = ohe_sex.fit_transform(X_train[['Sex']])
X_train_embarked = ohe_embarked.fit_transform(X_train_embarked)

X_test_sex = ohe_sex.transform(X_test[['Sex']])
X_test_embarked = ohe_embarked.transform(X_test_embarked)

In [11]:
X_train_rem = X_train.drop(columns=['Sex','Age','Embarked'])
X_test_rem = X_test.drop(columns=['Sex','Age','Embarked'])
X_train_transformed = np.concatenate((X_train_rem,X_train_age,X_train_sex,X_train_embarked),axis=1)
X_test_transformed = np.concatenate((X_test_rem,X_test_age,X_test_sex,X_test_embarked),axis=1)
X_test_transformed.shape
X_test_transformed

array([[3., 1., 1., ..., 1., 0., 0.],
       [2., 0., 0., ..., 0., 0., 1.],
       [3., 0., 0., ..., 0., 0., 1.],
       ...,
       [3., 1., 5., ..., 0., 0., 1.],
       [2., 0., 0., ..., 0., 0., 1.],
       [3., 1., 1., ..., 0., 0., 1.]])

In [12]:
clf = DecisionTreeClassifier()
clf.fit(X_train_transformed,y_train)

DecisionTreeClassifier()

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [7]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [8]:
url="https://raw.githubusercontent.com/digipodium/Datasets/main/sample_data.csv"
df=pd.read_csv(url)
df.head()

   country    salary   age happy
0  germany   49000.0  35.0   yes
1    spain   10000.0   NaN    no
2    italy  230000.0  39.0    no
3    spain  200000.0  30.0   yes
4    italy       NaN  30.0   yes

In [11]:
S1=SimpleImputer()
S2=SimpleImputer()
df['age']=S1.fit_transform(df[["age"]])
df['salary']=S2.fit_transform(df[["salary"]])

In [12]:
df

    country         salary        age happy
0   germany   49000.000000  35.000000   yes
1     spain   10000.000000  31.111111    no
2     italy  230000.000000  39.000000    no
3     spain  200000.000000  30.000000   yes
4     italy  165555.555556  30.000000   yes
5     spain   31000.000000  23.000000    no
6   germany  165555.555556  34.000000   yes
7     spain  400000.000000  31.111111   yes
8     italy  200000.000000  29.000000    no
9     italy  340000.000000  35.000000   yes
10  germany   30000.000000  25.000000   yes